.container {
  padding: 20px;
  text-align: center;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 10px;
  text-align: center;
  height:50%;

}

.cardImg {
  max-height: 50px !important;
  width: 50px !important;
}

.cardTitle {
  font-size: 18px;
  margin: 10px 0;
}

.cardPrice {
  font-size: 16px;
  color: #28a745;
}
