:root {

/* Colors: */
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-34a8be: #34A8BE;
--unnamed-color-ff9f43: #FF9F43;
--unnamed-color-28c76f: #28C76F;
--unnamed-color-ea5455: #EA5455;
--bg: #F6F7FF;
--unnamed-color-7674a1: #7674A1;
--unnamed-color-04004d: #04004D;
}